<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Mackenzie Child</h1>
		<p>Specialties: Emotionally Focused Couples Therapy (EFT), Familytherapy, couples therapy, individual systemic psychotherapy, transcultural therapy. <br><br>

With a background in (transcultural) systemic psychotherapy, EFT and a long experience in cognitive behavioural therapy (CBT) I created a mixed model (systemic - CBT). 
In my practice I work with couples/families and treat family/couples issues as well as patients with psychological issues through systemic-CGT therapy. Most of the clients in 'Systeempraktijk' come for couples therapy (specific couples or family related questions). <br><br>

Within Group4People and the U-Center (clinic in Epen) I work within a team and see mostly patients with individual psychological issues. Here I work together in a team with psychiatrists and other therapist.</p>
	</div>
</div>